<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <title>PC2</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row aling-items-start">
                <div class="col">
                    <span id="student-list">

                    </span>
                </div>
                <div class="col">
                    <form id="inputForm" style="margin-top: 1rem;">
                        <div class="mb-3">
                            <input id="codeField" class="form-control" type="text" name="code" placeholder="Ingresa tu codigo" required>
                        </div>
                        <div class="mb-3">
                            <input id="firstNameField" class="form-control" type="text" name="firstName" placeholder="Ingresa tus nombres" required>
                        </div>
                        <div class="mb-3">
                            <input id="lastNameField" class="form-control" type="text" name="lastName" placeholder="Ingresa tus apellidos" required>
                        </div>
                        <div class="mb-3">
                            <input id="mailField" class="form-control" type="text" name="mail" placeholder="Ingresa tu correo" required>
                        </div>
                        <div class="mb-3">
                            <input id="majorField" class="form-control" type="text" name="major" placeholder="Ingresa tu carrera" required> 
                        </div>
                        
            
                        <button class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>
        

        

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </body>
</html>